<div style="float: left;"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="64" height="64"/></div> 
# test de python 1.0

In [9]:
import matplotlib.pyplot as plt

In [10]:
import numpy as np

In [11]:
np.array([1,2,3])

array([1, 2, 3])

In [12]:
""" je suis un commentaire multiligne"""

' je suis un commentaire multiligne'

In [13]:
# commentaire sur une ligne

In [17]:
print(type(True))
print(type(1j))

<class 'bool'>
<class 'complex'>

In [19]:
print(int(3.0+2.5))
print(3/2)
print(3//2)

5
1.5
1

In [23]:
t = True
f = False
print(t and f) # AND logique
print(t or f) # OR logique

False
True

In [36]:
h = "hello"
print(h)
print(len(h))
x = 54
print(f'{h} {x} !!!')
print(h.capitalize())
print(h.upper())
print(h.replace('llo','y super'))

hello
5
hello 54 !!!
Hello
HELLO
hey super

# Collection : 
- list collection mutable ordonnée d'objets
- dict map mutable d'objet à objet
- set collection mutable non-ordonné d'objets distincts
- tuple collection non-mutable ordonnée d'objets

## List

In [50]:

x = list()       #liste vide
x = [10, 20, 30]
y = []           # liste vide
y.append(1)
y.append(2)
y.append(3)
print(y)
print(y.pop())   # retourne et supprime le dernier élément
print(y)
y.extend(x)      # y = y+x
print(y)

[1, 2, 3]
3
[1, 2]
[1, 2, 10, 20, 30]

In [61]:
a = list(range(1,11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
print(a[2:4]) # L'intervalle d'éléments indexés 2 4

[3, 4]

In [63]:
print(a[2:]) # L'intervalle d'éléments indexés 2 à fin

[3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
print(a[:2]) # L'intervalle d'éléments indexés debut à 2

[1, 2]

In [65]:
print(a[:]) # Toute la liste

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
print(a[2:None]) # equivaut à 2:

[3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
a[2:4] = [8,9]
print(a)

[1, 2, 8, 9, 5, 6, 7, 8, 9, 10]

In [75]:
nums = list(range(100))
print(nums[1:None:2]) # numéros impaires

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [76]:
print(nums[::2]) # numéros paires

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [77]:
print(nums[::3]) # multiples de 3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [78]:
print(nums[::5]) # multiples de 5

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [85]:
print(nums[::-1]) # 99 à 0

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [94]:
animals = ['cat','dog','monkey']
for animal in animals: 
    print(animal)
for idx,animal in enumerate(animals): 
    print(f'{idx} : {animal}')

cat
dog
monkey
0 : cat
1 : dog
2 : monkey

In [112]:
animals_upper = []
for animal in animals:
    animals_upper.append(animal.upper())
print(animals_upper)
carre = []
for x in range(100):
    carre.append(x**2)
print(carre)

['CAT', 'DOG', 'MONKEY']
['CAT', 'DOG', 'MONKEY']
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [113]:
animals_upper = [animal.upper() for animal in animals]
print(animals_upper)

['CAT', 'DOG', 'MONKEY']

In [120]:
animals_upper = [animal.upper() for animal in animals if animal.startswith('c')]
print(animals_upper)

['CAT']

In [126]:
animals_upper = list((animal.upper() for animal in animals if animal.startswith('c')))
print(animals_upper[0])

CAT


   ## DICT

In [129]:
a = dict()
b = {}
c = {'cat' : 9, 'dog': 1}
vies = {'cat': 9,
        'dog': 1}
print(vies['cat'])    # Acceder a une entree
print('cat' in vies)  # Tester appartenance
vies['fish'] = 1      # Ajouter une entree
print(vies['fish'])

9
True
1

In [130]:
print(vies.get('monkey','N/A')) # Acceder a une entree avec valeur par defaut
print(vies.get('fish','N/A'))
del vies['fish']
print('fish' in vies)

N/A
1
False

In [135]:
d = {'person': 2,'cat': 4,'spider':8}
for key,value in d.items():
    print(f' {key} : {value} ')

 person : 2
 cat : 4
 spider : 8

In [136]:
num_au_carre = {x: x ** 2 for x in range(10)}
print(num_au_carre)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

#### dict alphabet

In [148]:
a = {chr(x):chr(x).upper() for x in range(ord('a'),ord('z')+1)}
print(a)

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E', 'f': 'F', 'g': 'G', 'h': 'H', 'i': 'I', 'j': 'J', 'k': 'K', 'l': 'L', 'm': 'M', 'n': 'N', 'o': 'O', 'p': 'P', 'q': 'Q', 'r': 'R', 's': 'S', 't': 'T', 'u': 'U', 'v': 'V', 'w': 'W', 'x': 'X', 'y': 'Y', 'z': 'Z'}

## SET

In [150]:
a = set()
b = {1,2,3} # set 

animals = {'cat','dog'}
print('cat' in animals)
animals.add('fish')
print(len(animals))
animals.remove('cat')
print(animals)

True
3
{'fish', 'dog'}

In [151]:
x = [1,2,3,1,2,5,2,4,5,5,6]
y = set(x) # convert list en set
print(len(y),y)

6 {1, 2, 3, 4, 5, 6}

In [152]:
a = {1,2,3,5,7,11}
b = {1,2,3,4,5,6}

print(a & b) # ET
print(a | b) # OU
print(a - b) # a ET PAS b
print(b - a) # b ET PAS a
print(a ^ b) # OU exclu

{1, 2, 3, 5}
{1, 2, 3, 4, 5, 6, 7, 11}
{11, 7}
{4, 6}
{4, 6, 7, 11}

In [153]:
c = {3,1,2}
for idx,x in enumerate(c):
    print(f'{idx+1}:{x}')

1:1
2:2
3:3

## Tuple

In [154]:
a = (1,2)
b = (1,2,3)
c = (1,) #tuple d'une seul élément

print(a[0])
print(b[1:])
print(b[-1])

1
(2, 3)
3

In [155]:
print(type(b))

<class 'tuple'>

In [159]:
d = {(0,0): 'o',(0,1):' ',(0,2):' ',
     (1,0): 'o',(1,1):'x',(1,2):' ',
     (2,0): 'o',(2,1):' ',(2,2):'x'}
print(d)

{(0, 0): 'o', (0, 1): ' ', (0, 2): ' ', (1, 0): 'o', (1, 1): 'x', (1, 2): ' ', (2, 0): 'o', (2, 1): ' ', (2, 2): 'x'}

# FONCTION

In [164]:
def addmult(a, b, defaut = 'salut', gain=1):
    result = []
    for el_a, el_b in zip(a,b):
        result.append(el_a + el_b * gain)
    a[0] = 100000
    return result

x = list(range(1,11))
y = list(range(10))
print(addmult(x, y, gain = 10))
print(x)

[1, 12, 23, 34, 45, 56, 67, 78, 89, 100]
[100000, 2, 3, 4, 5, 6, 7, 8, 9, 10]